* {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: 100;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;    
}


html {
  background: #f5f5f5;
  /*width: 80%;*/
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    background: #fff;
    height: 65px;
    /* top: 0; */
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
  }


  #menu-icon {
    width: 35px;
    height: 35px;
    padding: 8px;
    margin-right: 16px;
  }
  
  #yt-logo {
    width: 125px;
    height: 24px;
  }
  
  #search-container {
    display: flex;
    justify-content: center;
    width: 60%;
  }
  
  #search-bar {
    height: 30px;
    width: 65%;
    border: #E2E2E2 1px solid;
    font-size: 1em;
  }
  
  #search-icon {
    width: 22px;
    height: 22px;
    padding: px;
  }
  
  #search-button {
    margin-right: 60px;
    width: 43px;
    height: 30px;
    background: rgb(240, 237, 237);
  }
  
  .header-image {
    height: 24px;
    width: 24px;
    padding: 0;
    border: 0;
  }
  
  .topright {
    height: 40px;
    width: 40px;
    background: #fff;
  }
  
  #sign-in_btn {
    border: none;
    padding: 7px 10px;
    background-color:#167AC6;
    color: #fff;
    border-radius: 4px;
  }

  

